@import '../../utils/theme/variables.scss';
@import '../tabloVariables.scss';

.tablo {
  .public_fixedDataTableCell_main {
    border-width: 0; // to reset

    &:not(:last-child) {
      border-right: $cell-border-width solid $cell-border-color;
    }

    &:last-child {
      border-right-width: 0;
    }

    .public_fixedDataTableCell_wrap3 {
      vertical-align: baseline; // needed to enable `height: 100%` on our cell components
    }
  }

  .tablo-cell {
    .content {
      padding: 0 5px;
      white-space: nowrap;
    }
  }
}
