$size: 3em !default;
$background: #F0F0F0 !default;
$checked-background: #9FD6AE !default;

.toggle-input{
	display: none;
	// add default box-sizing for this scope
	&, &:after, &:before,
	& *, & *:after, & *:before,
	& + .toggle-button{
		box-sizing: border-box;
		&::selection{
			background: none;
		}
	}
	+ .toggle-button{
		outline: 0;
		display: block;
		width: $size;
		height: $size / 2;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after, &:before{
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
		&:after{
			left: 0;
		}
		&:before{
			display: none;
		}
	}
	&:checked{
		+ .toggle-button{
			&:after{
				left: 50%;
			}
		}
	}
}

.toggle-input {
	+ .toggle-button {
		background: $background;
		border-radius: $size / 2;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: #FFF;
			transition: all .2s ease;
		}
	}
	&:checked {
		+ .toggle-button {
			background: $checked-background;
		}
	}
}
