@import '../utils/theme/variables.scss';

$size: 3em !default;
$background: $cloudyGrey !default;
$checked-background: $gradientGreen !default;

.toggle-input{
	display: none;
	// add default box-sizing for this scope
	&, &:after, &:before,
	& *, & *:after, & *:before,
	& + .toggle-button{
		box-sizing: border-box;
		&::selection{
			background: none;
		}
	}
	+ .toggle-button{
		outline: 0;
		display: block;
		width: $size;
		height: $size / 2;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after, &:before{
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
		&:after{
			left: 0;
		}
		&:before{
			display: none;
		}
	}
	&:checked{
		+ .toggle-button{
			&:after{
				-webkit-transform: translate3d(100%, 0, 0);
				transform: translate3d(100%, 0, 0);
			}
		}
	}
}

.toggle-input {
	+ .toggle-button {
		background: $background;
		border-radius: $size / 2;
		padding: 2px;
		-webkit-transition: background 0.4s ease;
		transition: background 0.4s ease;
		&:after {
			border-radius: 50%;
			background: #FFF;
			-webkit-transition: -webkit-transform 0.2s linear;
			transition: transform 0.2s linear;
		}
	}
	&:checked {
		+ .toggle-button {
			background: $checked-background;
		}
	}
}
