@import '../utils/theme/variables.scss';
$background: transparent !default;
$header-background: $brc-gradientGrey !default;
$header-background-open: $brc-gradientGrey !default;
$header-background-selected: transparent !default;
$header-background-hover: $brc-gradientDarkGrey !default;
$border-color: $brc-silver !default;

.collapsible-section {
  border: 1px solid $border-color;
  background: $background;
  cursor: pointer;

  .content {
    padding: 0 19px;
    height: 100%;
    background: $header-background;

    &:hover {
      background: $header-background-hover;
    }
  }

  &.is-open {
    .content {
      border-bottom: 1px solid $border-color;
      background: $header-background-open;

      &:hover {
        background: $header-background-hover;
      }
    }
  }

  &.is-selected,
  &.is-open.is-selected {
    background: $header-background-selected;

    &:hover {
      background: $header-background-hover;
    }
  }
}
