.kitchen-sink {

  .content {
    position: relative;
    height: 100%;
    margin-left: 2px;

    .playground .playgroundPreview {
      display: none;
    }

    #content {
      padding: 15px;
      font-family: Consolas, Courier, monospace;
    }
  }

  .sidebar {
    .sidebar-content {
      width: 270px;

      .item {
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #EAEAEA;
        cursor: pointer;

        &:hover {
          background-color: #F0F0F0;
        }
      }
    }
  }
}
