@import '~sass-flex-mixins/src/sass-flex-mixins.scss';
@import '../utils/theme/variables.scss';
@import '../utils/theme/typography.scss';

.kitchen-sink {

  .content {
    > .body {
      margin: 40px 60px;
    }
  }

  .component {
    margin: 40px 60px;

    .examples {

      .example {

        margin-bottom: 45px;

        .example-card {
          position: relative;
          margin-top: 10px;
          border-radius: 4px;
          border: solid 1px #dfe3e9;

          .live-demo {

            .component {
              margin: 0;
              padding: 30px 40px;
            }

            .playground, .CodeMirror {
              overflow: hidden;
              border-radius: 0 0 4px 4px;
            }

            .CodeMirror {
              height: auto;
              margin-bottom: -30px; // needed to hide LiveDemo footer
            }

            .playground {
              @include display_flex();
              @include flex_flex-direction(column-reverse);

              .playgroundStage {
                .CodeMirror-wrap {
                  padding: 10px;
                }
              }

              .playgroundPreview {
                > div {
                  > div {
                    display: none;
                  }

                  > .playgroundError {
                    display: block;
                    font-family: Consolas, Courier, monospace;
                    position: absolute;
                    width: 100%;
                    padding: 10px;
                    font-size: 12px;
                    color: white;
                    background: #F2777A;
                    transform: translateY(-100%);
                  }
                }
              }
            }

            .show-code {
              position: absolute;
              top: 10px;
              right: 10px;
              color: $brc-coolGrey;
              font-size: 9px;

              &:hover, &.active {
                cursor: pointer;
                color: $brc-azure;
              }
            }
          }
        }
      }
    }

    > .footer {

      table {
        margin-top: 34px;
        border-collapse: collapse;
        font-size: 16px;
        color: $brc-darkGrey;

        tr {
          height: 40px;
        }
        thead th {
          padding: 0 5px;
          text-align: left;
          background-color: $brc-paleGrey;
          color: #7f8fa4;
          font-size: 16px;
          font-weight: $brc-semibold;
          border: 1px solid #dfe3e9;
        }
        tbody td {
          padding: 0 5px;
          border: 1px solid #dfe3e9;

          code {
            background-color: $brc-paleGrey;
          }
        }
      }
    }
  }

  .sidebar {

    .sidebar-content {
      border-right: 1px solid #dfe3e9;
      width: 240px;
      height: 100%;

      .logo {
        height: 240px;
        font-size: 33px;
        font-weight: bold;
        border-bottom: 1px solid #EAEAEA;
        color: $brc-darkGrey;

        .sub {
          font-size: 16px;
          font-weight: $brc-semibold;
          color: $brc-coolGrey;
        }
      }

      .collapsable-section {

        * {
          transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
        }

        border: 0;

        .content {
          width: 100%;
          padding: 20px;
          border-bottom: 1px solid #EAEAEA;
          cursor: pointer;
          font-weight: $brc-semibold;
          background: transparent;

          &:hover {
            background-color: #F0F0F0;
          }

          .icon {
            font-size: 8px;
            color: $brc-coolGrey;
          }
        }

        .items {

          background-color: $brc-paleGrey;
          padding: 10px 0;

          .item {
            width: 100%;
            padding: 10px 20px;
            cursor: pointer;
            color: $brc-battleshipGrey;
            font-weight: $brc-regular;

            &.active, &:hover {
              color: $brc-azure;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
