.kitchen-sink {

  .content {
    position: relative;
    height: 100%;
    margin-left: 2px;

    > h1 {
      margin: 50px;
    }

    .example-card {
      margin: 50px;
      border: 1px solid #EAEAEA;
      border-radius: 3px;
      background-color: #F5F5F5;

      .live-demo {

        .playground .playgroundPreview {
          display: none;
        }

        .content {
          padding: 15px;
          font-family: Consolas, Courier, monospace;
        }
      }
    }
  }

  .sidebar {
    .sidebar-content {
      width: 270px;

      .section {
        padding: 10px;
        background-color: #242424;
        color: white;

        * {
          display: block;
          margin: auto;
        }
      }

      .item {
        width: 100%;
        padding: 20px;
        border-bottom: 1px solid #EAEAEA;
        cursor: pointer;

        &:hover {
          background-color: #F0F0F0;
        }
      }
    }
  }
}
