@import '../../utils/theme/variables.scss';

.background-dimmer {

  .card {

    background-color: $brc-white;
    padding: 38px;
    color: $brc-darkGrey;
    line-height: 1.2;
    font-size: 16px;
    border-radius: 4px;

    > img {
      margin-bottom: 14px;
    }

    .card-title {
      font-size: 16px;
      font-weight: $brc-semibold;
      color: $brc-darkGrey;
    }

    .card-author {
      font-size: 14px;
      color: $brc-coolGrey;
      margin-bottom: 14px;
    }

    .card-rating {
      height: 12px;
    }
  }
}