@import '../../src/utils/theme/variables.scss';

body {
  font-size: 15px;

  input {
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
  }

  .live-demo {
    font-size: 14px;
  }
}

.sidebar,
.sidebar-content {
  background: $brc-white;
}

// github overrides
.header {
  min-width: 0;
  background-color: transparent;
  padding: 0;
  border-bottom: none;
}

.accordion {
  a {
    color: inherit;
  }
}

.dropdown-menu {
  padding: 7px 15px;
  margin-left: auto;
  width: auto;

  &::before {
    display: none;
  }
}

.label {
  color: inherit;
  box-shadow: none;
}

// Based on Sublime Text's Monokai theme
.cm-s-monokai.CodeMirror {
  background: #1b2b34;
  color: #cdd3de;
}

.cm-s-monokai div.CodeMirror-selected {
  background: #a7adba !important;
}

.cm-s-monokai.CodeMirror ::selection {
  background: #4f5b66;
}

.cm-s-monokai.CodeMirror ::-moz-selection {
  background: rgba(73, 72, 62, .99);
}

.cm-s-monokai .CodeMirror-gutters {
  background: #272822;
  border-right: 0;
}

.cm-s-monokai .CodeMirror-guttermarker {
  color: $brc-white;
}

.cm-s-monokai .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}

.cm-s-monokai .CodeMirror-linenumber {
  color: #d0d0d0;
}

.cm-s-monokai .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0 !important;
}

.cm-s-monokai span.cm-comment {
  color: #65737e;
}

.cm-s-monokai span.cm-atom {
  color: #f99157;
}

.cm-s-monokai span.cm-number {
  color: #f99157;
}

// .cm-s-monokai span.cm-property {color: #6699CC;}
.cm-s-monokai span.cm-property {
  color: #96b9dc;
}

.cm-s-monokai span.cm-attribute {
  color: #c594c5;
}

.cm-s-monokai span.cm-keyword {
  color: #f2777a;
}

.cm-s-monokai span.cm-string {
  color: #99c794;
}

.cm-s-monokai span.cm-string-2 {
  color: #cdd3de;
}

// .cm-s-monokai span.cm-variable {color: #CDD3DE;}
.cm-s-monokai span.cm-variable {
  color: #69c;
}

.cm-s-monokai span.cm-variable-2 {
  color: #9effff;
}

.cm-s-monokai span.cm-def {
  color: #fd971f;
}

.cm-s-monokai span.cm-bracket {
  color: #f8f8f2;
}

.cm-s-monokai span.cm-tag {
  color: #f92672;
}

.cm-s-monokai span.cm-link {
  color: #ae81ff;
}

.cm-s-monokai span.cm-error {
  background: #f92672;
  color: #f8f8f0;
}

.cm-s-monokai .CodeMirror-activeline-background {
  background: #373831 !important;
}

.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: $brc-white !important;
}

.hljs-keyword,
.hljs-winutils,
.method,
.hljs-addition,
.css .hljs-tag,
.hljs-request,
.hljs-status,
.nginx .hljs-title {
  color: #f2777a;
}

.hljs-title,
.hljs-localvars,
.hljs-chunk,
.hljs-decorator,
.hljs-built_in,
.hljs-identifier,
.vhdl .hljs-literal,
.hljs-id,
.css .hljs-function,
.hljs-name {
  color: #69c;
}

.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula,
.hljs-regexp,
.hljs-hexcolor,
.hljs-link_url {
  color: #99c794;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.smalltalk .hljs-number,
.hljs-constant,
.hljs-class .hljs-title,
.hljs-parent,
.hljs-type,
.hljs-link_reference {
  color: #f2777a;
}
