@import '../../src/utils/theme/variables.scss';

.home {
  .header {
    height: 490px;

    .title {
      margin-top: 105px;
      font-size: 60px;
    }

    .subtitle {
      margin-top: 20px;
      font-size: 26px;
    }

    .action-buttons {
      margin-top: 50px;

      .button .button-inner.is-flat {
        height: 32px;
        color: $brc-white;
        border-color: rgba($brc-white, .5);
        padding: 7px 20px !important;

        .icon-github {
          font-size: 22px;
        }

        &:hover {
          color: $brc-white !important;
          border-color: $brc-white !important;
        }
      }

      .button:first-child {
        margin-right: 12px;
      }
    }

    .current-release {
      margin-top: 10px;
      margin-bottom: 130px;
      font-size: 14px;
      font-weight: 600;
      color: $brc-white;
    }
  }
}
