@import "../utils/theme/variables.scss";

.more-or-less {
  border: 1px solid $brc-silver;

  .card {
    padding: 25px 33px;

    .description {
      margin-right: 20px;
      font-size: 14px;
      line-height: 1.5;

      .title {
        font-size: 28px;
        font-weight: $brc-bold;
      }

      .subtitle {
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: 14px;

        .author {
          padding-right: 9px;
          border-right: 1px solid $brc-silver;
          color: $brc-azure;

          &::before {
            content: "by\00a0";
            color: $brc-darkGreyBlue;
          }
        }

        .date {
          padding-left: 9px;
        }
      }
    }
  }

  .expand-button {
    .icon {
      font-size: 8px;
    }
  }
}
