@import "../utils/theme/variables.scss";
$expand-button-background: $brc-gradientGrey !default;
$expand-button-background-hover: $brc-gradientDarkGrey !default;
$expand-button-icon-color: $brc-coolGrey !default;
$expand-button-icon-color-hover: $brc-coolGrey !default;

.more-or-less {
  .expand-button {
    border-top: 1px solid $brc-silver;
    height: 15px;
    width: 100%;
    background: $expand-button-background;
    cursor: pointer;

    &:hover {
      background-color: $expand-button-background-hover;
    }
  }
}
