class Example extends React.Component {

  render() {
    return (
      <div style={{ height: 300 }}>
        <ScrollView>
          <div style={{ height: 600}}>
            <img alt='scroll scrollscroll scrollscroll scrollscroll scrollscroll scrollscroll scrollscroll scrollscroll scrollscroll scrollscroll scrollscroll scrollscroll scrollscroll scroll' style={{ width: '100%'}} src='https://media.giphy.com/media/26BRERwHtgJTf7rTG/giphy.gif' />
          </div>
        </ScrollView>
      </div>
    );
  }

}
