@import '../theme/variables.scss';
@import '~sass-flex-mixins/src/sass-flex-mixins.scss';

.tabbed-panel {

  .panel-header {
    padding: 0;

    .panel-header-content {
      @include flex_align_items(stretch);
      padding: 0;
    }
    .tabbed-panel-tab {
      color: #3f4e49; // $gunmetal missing in variables.scss
      cursor: pointer;
      &.active {
        border-bottom: 4px solid $aquamarine;
        color: $white;
      }

      > div {
        text-align: center;
        @include flex_flex(1 1 100%);
        @include display_flex();
        @include flex_align-items(center);

        span {
          width: 100%;
        }
      }
    }
  }
}