class Example extends React.Component {

  logChange = (val) => {
    console.log('Selected val =>', val);
  }

  render = () => {
    const Time = { hours: 10, minutes: 59 };
    return (
      <TimePicker value={Time} interval={30} timeFormat="12h" onChange={this.logChange} />
    );
  }
}
