class Example extends React.Component {

  render = () => {
    return (
      <div>
        <h1>24 Hour Time Picker</h1>
        <TimePicker onChange={(x) => log(x)} interval={30} timeFormat="24h" />
      </div>
    );
  }
}
