@import '../theme/variables.scss';

.divider {
  background-color: $pearl;
  color: $pearl;
  &.small {
    margin: 5px;
  }
  &.medium {
    margin: 10px;
  }
  &.large {
    margin: 20px;
  }
  &.no-margin {
    margin: 0;
  }
  &.horizontal {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 100%;
    border-left: 1px solid;
  }
  &.vertical {
    display: block;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    height: 1px;
  }
}
