@import '../utils/theme/variables.scss';

$height: 28px !default;
$padding-h: 12px !default;
$font-size: 14px !default;
$border-color-focus: $brc-azure !default;

@import '../Input/input.scss';

$show-color: $brc-azure !default;

.input.password-input {
  .toggle {
    height: $height;
    margin: 0 $padding-h;
    color: $show-color;
    font-size: $font-size;
    line-height: $font-size;
    cursor: pointer;
  }
}
