@use '../../utils/theme/variables.scss' as *;
@use '../tabloVariables.scss' as *;

// no fixed-data-table css classes in subcomponents

.tablo {
  .tablo-footer {
    border: $border-width solid $border-color;
    background: $footer-background;
    color: $footer-color;
    padding: 0 5px;
  }
}
