@import '../../utils/theme/variables.scss';
@import '../tabloVariables.scss';

// no fixed-data-table css classes in subcomponents

.tablo {
  .grid-footer {
    border: $border-width solid $border-color;
    background: $footer-background;
    color: $footer-color;
    padding: 0 5px;
  }
}
