@import '../../../../src/utils/theme/variables.scss';
@import '../tabloVariables.scss';

// no fixed-data-table css classes in subcomponents

.tablo {
  .public_fixedDataTable_header {
    border-width: $border-width;
    border-color: $border-color;
    background: $header-background;

    .public_fixedDataTableCell_cellContent {
      background: $header-background;
      color: $header-color;
    }
  }

  .tablo-header {
    background: $header-background;
    color: $header-color;
    padding: 0 5px;

    /*
      > div, > div > div {
        http://stackoverflow.com/a/25386261;  //TODO(frag) investigate this stuff
        width: 100%;
      }
    */
  }
}
