@import "../utils/theme/variables.scss";
@import "node_modules/react-dates/lib/css/_datepicker";

$width-input: 150px !default;
$month-header-background: $brc-azure !default;
$month-header-color: $brc-white !default;

$z-index: 100 !default;

$input-background: $brc-gradientGrey !default;
$input-background-hover: $brc-gradientDarkGrey !default;
$input-background-open: $brc-gradientDarkGrey !default;

$default-day-border: $brc-silver !default;
$default-day-background: $brc-paleGrey !default;
$default-day-background-hover: $brc-cloudyGrey !default;
$default-day-color: $brc-darkGreyBlue !default;
$default-day-color-hover: $brc-darkGreyBlue !default;
$blocked-day-background: $brc-white !default;
$blocked-day-color: $brc-coolGrey !default;
$selected-day-background: $brc-azure !default;
$selected-day-color: $brc-darkGreyBlue !default;
$selected-day-hover-background: $brc-azure !default;
$selected-day-hover-color: $brc-darkGreyBlue !default;
$hover-interval-day-background: $brc-azure10 !default;
$hover-interval-day-border: $brc-azure !default;
$hover-interval-day-color: $brc-darkGreyBlue !default;
$selected-interval-day-background: $brc-azure30 !default;
$selected-interval-day-border: $brc-azure10 !default;
$selected-interval-day-color: $brc-darkGreyBlue !default;
$outside-day-background: $brc-white !default;

.date-picker {
  font-size: 14px;

  .SingleDatePickerInput {
    height: 36px;
    border-radius: 2px;
    background: $input-background;

    &:hover {
      background: $input-background-hover;
    }

    &.SingleDatePickerInput__showClearDate {
      padding-right: 0;
    }

    .SingleDatePickerInput_clearDate {
      margin-right: 30px;
      svg {
        height: 16px;
        * {
          fill: $brc-coolGrey;
        }
      }
    }

    .SingleDatePickerInput_calendarIcon {
      height: 100%;

      svg {
        height: 16px;
        * {
          fill: $brc-coolGrey;
        }
      }
    }

    .DateInput {
      padding: 0 8px;
      font-size: 14px;
      height: 100%;
      line-height: 28px;
      background: transparent;
      vertical-align: unset;
      width: $width-input;
      vertical-align: top;

      .DateInput_input {
        font-weight: $brc-semibold;
        font-size: 14px;
        color: $brc-darkGreyBlue;
        background: transparent;
        height: 100%;
        line-height: 100%;
        border: 0;
      }

      .DateInput_fangShape {
        fill: $month-header-background;
        $month-header-color: $brc-white !default;
      }
    }
  }

  &.is-small {
    .SingleDatePickerInput {
      height: 25px;

      .DateInput {
        line-height: 16px;
        font-size: 10px;
      }

      .SingleDatePickerInput_calendarIcon {
        svg {
          height: 11px;
        }
      }
    }
  }

  .SingleDatePicker_picker {
    z-index: $z-index;

    .DayPicker {
      .DayPicker_weekHeaders {
        vertical-align: bottom;
        margin-left: 0;

        .DayPicker_weekHeader {
          top: 30px;

          .DayPicker_weekHeader_ul {
            color: $month-header-color;
            font-size: 16px;

            .DayPicker_weekHeader_li {
              width: 32px !important;

              &:first-child,
              &:last-child {
                width: 34px !important;
              }
            }
          }
        }
      }

      .DayPickerNavigation_prev {
        left: 10px;
        background: transparent;
        border: 0;
      }

      .DayPickerNavigation_next {
        right: 10px;
        background: transparent;
        border: 0;
      }

      .DayPickerNavigation_prev,
      .DayPickerNavigation_next {
        position: absolute;
        top: 15px;

        * {
          fill: $month-header-color;
        }
      }

      .DayPicker_transitionContainer {
        height: 200px !important;
      }

      .CalendarDay {
        width: 32px !important;
        border: 1px solid $default-day-border;

        &:first-child,
        &:last-child {
          width: 34px !important;
        }

        &.CalendarDay__default_2 {
          color: $default-day-color;
          background-color: $default-day-background;

          &:hover {
            color: $default-day-color-hover;
            background-color: $default-day-background-hover;
            border-color: $brc-cloudyGrey;
          }
        }

        &.CalendarDay__outside {
          background-color: $outside-day-background;
        }

        &.CalendarDay__blocked_calendar {
          background-color: $blocked-day-background;
          color: $blocked-day-color;
          opacity: 0.6;
        }

        &.CalendarDay__selected {
          background-color: $selected-day-background;
          color: $selected-day-color;

          &:hover {
            background-color: $selected-day-hover-background;
            color: $selected-day-hover-color;
            border-color: $brc-azure;
          }
        }

        .CalendarDay__hovered_span {
          background-color: $hover-interval-day-background;
          border: 1px solid $hover-interval-day-border;
          color: $hover-interval-day-color;
        }

        .CalendarDay__selected_span {
          background-color: $selected-interval-day-background;
          border: 1px solid $selected-interval-day-border;
          color: $selected-interval-day-color;
        }
      }

      .CalendarMonthGrid {
        left: 0;

        .CalendarMonth {
          background: white;

          .CalendarMonth_caption {
            margin-left: -9px;
            margin-right: -9px;
            background-color: $month-header-background;
            color: $month-header-color;
            padding-top: 10px;
            padding-bottom: 26px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
