@import '../utils/theme/variables.scss';

$background: $brc-white !default;
$border-color: $brc-silver !default;
$title-color: $brc-darkGrey !default;
$body-color: $brc-darkGrey !default;
$footer-background: $brc-paleGrey !default;

.modal {
  position: fixed;
  z-index: 9999;
  top: 0; right: 0; bottom: 0; left: 0;

  .modal-content {
    min-width: 520px;
    background: $background;
    border-radius: 4px;
    overflow: hidden;

    .modal-header {
      min-height: 52px;
      padding: 0 15px;
      border-bottom: 1px solid $border-color;

      .modal-title {
        font-size: 18px;
        color: $title-color;
        font-weight: $brc-semibold;
      }

      .modal-icon-close {
        margin-left: 15px;
        cursor: pointer;
      }
    }

    .modal-body {
      padding: 43px 15px;
      font-size: 14px;
      font-weight: $brc-semibold;
      color: $body-color;
    }

    .modal-footer {
      background: $footer-background;
      border-top: 1px solid $border-color;
      padding: 12px 30px;
    }
  }
}
