@import '../utils/theme/variables.scss';
$background: $brc-white !default;
$border-color: $brc-silver !default;
$title-color: $brc-darkGrey !default;
$body-color: $brc-darkGrey !default;
$footer-background: $brc-paleGrey !default;

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;

  .modal-content {
    overflow: hidden;
    border-radius: 4px;
    min-width: 520px;
    background: $background;

    .modal-header {
      padding: 0 15px;
      border-bottom: 1px solid $border-color;
      min-height: 52px;

      .modal-title {
        color: $title-color;
        font-size: 18px;
        font-weight: $brc-semibold;
      }

      .modal-icon-close {
        margin-left: 15px;
        cursor: pointer;
      }
    }

    .modal-body {
      padding: 43px 15px;
      color: $body-color;
      font-size: 14px;
      font-weight: $brc-semibold;
    }

    .modal-footer {
      padding: 12px 30px;
      border-top: 1px solid $border-color;
      background: $footer-background;
    }
  }
}
