@import '../../utils/theme/variables.scss';

.panel {

  &.collapsed.collapse-left {
    .panel-content-title {
      margin-left: 15px;
    }
  }

  .panel-header {
    .icon {
      margin-right: 10px;
      color: $brc-cloudyGrey;
    }
  }

  .card {
    .description {

      font-size: 14px;
      line-height: 1.5;

      margin-right: 20px;

      .title {
        font-weight: bold;
        font-size: 28px;
      }

      .subtitle {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 15px;

        .author {

          &::before {
            content: 'by\00a0';
            color: $brc-darkGrey;
          }

          color: $brc-azure;
          border-right: 1px solid $brc-silver;
          padding-right: 9px;

        }

        .date {
          padding-left: 9px;
        }
      }
    }
  }

  .divider {
    margin: 30px 0;
  }
}