const Example = React.createClass({

  propTypes: {},

  mixins: [React.addons.LinkedStateMixin],

  getTemplate() {
    return (
      <div>
        <ScrollView
          className='hello'
          easing='easeInOutQuad'
          scrollPropagation={false}
          style={{backgroundColor: 'blue', maxHeight: 500}}>
            {(scrollTo) => (
              <div style={{ position: 'relative' }}>
                <button style={{ position: 'absolute', top: 0 }} onClick={partial(scrollTo, 0, 300, 1500)}>
                  Go to bottom
                </button>
                <div style={{backgroundColor: 'red', height: 200, width: '100%'}}/>
                <div style={{backgroundColor: 'green', height: 200, width: '100%'}}/>
                <div style={{backgroundColor: 'yellow', height: 200, width: '100%'}}/>
                <div style={{backgroundColor: 'black', height: 200, width: '100%'}}/>
                <button style={{ position: 'absolute', bottom: 0 }} onClick={partial(scrollTo, 0, 0, 1500)}>
                  Go to top
                </button>
              </div>
            )}
        </ScrollView>
      </div>
    );
  },

  render() {
    return this.getTemplate();
  }

});
