@import '~sass-flex-mixins/src/sass-flex-mixins.scss';
@import '~react-select/dist/react-select.min.css';
@import '../utils/theme/variables.scss';

$background: $brc-gradientGrey !default;
$background-hover: $brc-gradientDarkGrey !default;
$background-open: $brc-gradientDarkGrey !default;

$border-color: $brc-silver !default;
$border-color-open: $brc-waterBlue !default;
$border-radius: 4px !default;

$text-color: $brc-coolGrey !default;
$text-color-hover: $brc-coolGrey !default;
$text-color-open: $brc-coolGrey !default;
$text-color-has-value: $brc-darkGrey !default;
$text-color-writing: $brc-coolGrey !default;

$placeholder-color: #999 !default;
$placeholder-color-hover: #666 !default;
$placeholder-color-open: #666 !default;

$arrow-color: $text-color !default;
$arrow-color-hover: $text-color-hover !default;
$arrow-color-open: $text-color-open !default;

$x-color: $text-color !default;
$x-color-hover: red !default;

$menu-background: $brc-white !default;

$menu-border-color: $brc-silver !default;

$option-color: rgba($brc-darkGrey, .5) !default;
$option-color-hover: $brc-darkGrey !default;

$option-background-hover: rgba($brc-azure, .15) !default;

$multiple-value-color: #007eff !default;
$multiple-value-border-color: $multiple-value-color !default;
$multiple-value-background-color: #DAECF6!default;
$multiple-value-icon-color: $multiple-value-color !default;
$multiple-value-icon-background-color: $multiple-value-background-color !default;
$multiple-value-icon-border-color: $multiple-value-icon-color !default;
$multiple-value-icon-color-hover: red !default;
$multiple-value-icon-background-color-hover: darken($multiple-value-icon-background-color, 10%) !default;
$multiple-value-icon-border-color-hover: $multiple-value-icon-border-color !default;

$disabled-opacity: .6 !default;

$height: 38px !default;
$height-small: 30px !default;

// NORMALIZE
@mixin normalize {
  @include display_flex();
  @include flex_flex-direction(row);
  @include flex_align-items(center);
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

@mixin height($height) {
  height: $height;
  line-height: $height;
}

.Select.dropdown {
  @include normalize;
  @include height($height);
  box-sizing: border-box;
  .Select-control,
  .Select-multi-value-wrapper,
  .Select-value,
  .Select-placeholder,
  .Select-input,
  .Select-input>input,
  .Select-option,
  .Select-arrow-zone,
  .Select-clear-zone {
    @include normalize;
    @include height($height - 2);
  }
  &.is-small {
    @include height($height-small);
    .Select-control,
    .Select-multi-value-wrapper,
    .Select-value,
    .Select-placeholder,
    .Select-input,
    .Select-input>input,
    .Select-option,
    .Select-arrow-zone,
    .Select-clear-zone {
      @include height($height-small - 2);
    }
  }
}

.Select.dropdown {
  min-width: 150px;
  background: $background;
  border: solid 1px $border-color;
  border-radius: $border-radius;
  font-size: 15px;
  font-weight: 400;
  color: $text-color;

  .Select-control {
    background: transparent;
    border: none;
    cursor: pointer;
    box-shadow: none !important;
    padding-left: 10px;
    padding-right: 25px;

    .Select-multi-value-wrapper, .Select-value-label {
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .Select-input {
      position: absolute;
      left: 0;
      top: 0;
    }

    .Select-arrow-zone, .Select-clear-zone {
      @include flex_justify-content(center);
      position: absolute;
      bottom: 0;
      width: 30px;
    }
    .Select-arrow-zone {
      right: 0;
    }
    .Select-clear-zone {
      right: 20px;
    }
    .Select-arrow, .Select-clear {
      cursor: pointer;
      font-size: 20px;
    }
    .Select-arrow {
      border-width: 5px 5px 0;
    }
  }

  .Select-menu-outer {
    position: absolute;
    left: 0;
    min-width: 185px;
    background-color: $menu-background;
    border: solid 1px $menu-border-color;
    border-radius: 4px;
    box-shadow: rgba(34, 36, 38, 0.12) 0px 2px 4px 0px;
    margin-top: 10px;
    z-index: 1000;

    .Select-option {
      padding: 0 10px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      color: $option-color;
      background: $menu-background;

      &:hover, &.is-focused {
        color: $option-color-hover;
        background-color: $option-background-hover;
      }
    }
  }

  &.Select--multi {
    &.has-value .Select-input {
      position: relative;
    }
    .Select-control .Select-value {
      @include height($height - 14px);
      margin-right: 5px;
      color: $multiple-value-color;
      border: 1px solid $multiple-value-border-color;
      background: $multiple-value-background-color;
      .Select-value-icon {
        color: $multiple-value-icon-color;
        background: $multiple-value-icon-background-color;
        border-color: $multiple-value-icon-border-color;
        padding: 0 4px;
        &:hover {
          color: $multiple-value-icon-color-hover;
          background: $multiple-value-icon-background-color-hover;
          border-color: $multiple-value-icon-border-color-hover;
        }
      }
    }
    &.is-small .Select-control .Select-value {
      @include height($height-small - 14px);
    }
  }

  &:not(.is-disabled):hover {
    background: $background-hover;
    color: $text-color-hover;

    .Select-placeholder {
      color: $placeholder-color-hover;
    }

    .Select-arrow {
      border-color: $arrow-color-hover transparent transparent;
    }
  }

  &.is-open {
    background: $background-open;
    border-color: $border-color-open;
    color: $text-color-open;

    &:hover .Select-placeholder, .Select-placeholder {
      color: $placeholder-color-open;
    }

    .Select-arrow {
      border-color: $arrow-color-open transparent transparent;
    }

  }

  &.has-value .Select-control {
    padding-right: 45px;
    color: $text-color-has-value;

    .Select-placeholder {
      color: $text-color-has-value;
    }
  }

  &.is-clearable.has-value {
    .Select-clear {
      bottom: 0;
      padding: 0;
      color: $x-color;

      &:hover {
        color: $x-color-hover;
      }
    }
  }

  &.is-searchable {
    .Select-control {
      cursor: text;
    }

    &.is-open {
      .Select-input {
        color: $text-color-writing;
      }
    }
  }

  &.is-disabled {
    opacity: $disabled-opacity;
    cursor: not-allowed;

    .Select-arrow-zone, .Select-arrow, .Select-control {
      cursor: inherit;
    }
  }

  &.is-flat {
    &:not(:hover), &.is-disabled {
      &:not(.is-open) {
        background: transparent;
      }
    }
  }
}
