@import "~sass-flex-mixins/src/sass-flex-mixins.scss";
@import "../utils/theme/variables.scss";
$background: $brc-gradientGrey !default;
$background-hover: $brc-gradientDarkGrey !default;
$background-open: $brc-gradientDarkGrey !default;
$border-color: $brc-silver !default;
$border-color-hover: $border-color !default;
$border-color-open: $brc-waterBlue !default;
$border-color-focus: $brc-waterBlue !default;
$border-radius: 2px !default;
$text-color: $brc-coolGrey !default;
$text-color-open: $brc-coolGrey !default;
$text-color-has-value: $brc-darkGreyBlue !default;
$text-color-hover: $text-color-has-value !default;
$text-color-writing: $brc-coolGrey !default;
$placeholder-color: $brc-coolGrey !default;
$placeholder-color-hover: $brc-coolGrey !default;
$placeholder-color-open: $brc-coolGrey !default;
$arrow-color: $text-color !default;
$arrow-color-hover: $text-color !default;
$arrow-color-open: $text-color-open !default;
$x-color: $text-color !default;
$x-color-hover: $brc-red !default;
$menu-background: $brc-white !default;
$menu-border-color: $brc-silver !default;
$option-group-color: $brc-darkGreyBlue !default;
$option-group-background: $brc-paleGrey !default;
$option-color: rgba($brc-darkGreyBlue, 0.5) !default;
$option-color-hover: $brc-darkGreyBlue !default;
$option-color-selected: $option-color !default;
$option-color-disabled: rgba($option-color, 0.2) !default;
$option-background-hover: rgba($brc-azure, 0.15) !default;
$option-background-selected: $menu-background !default;
$option-background-disabled: $menu-background !default;
$multiple-value-color: $brc-azure !default;
$multiple-value-border-color: $multiple-value-color !default;
$multiple-value-background-color: $brc-duckBlue !default;
$multiple-value-icon-color: $multiple-value-color !default;
$multiple-value-icon-background-color: $multiple-value-background-color !default;
$multiple-value-icon-border-color: $multiple-value-icon-color !default;
$multiple-value-icon-color-hover: $brc-red !default;
$multiple-value-icon-background-color-hover: darken(
  $multiple-value-icon-background-color,
  10%
) !default;
$multiple-value-icon-border-color-hover: $multiple-value-icon-border-color !default;
$disabled-opacity: 0.6 !default;
$height: 36px !default;
$height-small: 30px !default;
$padding-left-small: 10px !default;
$padding-left: 10px !default;

// NORMALIZE
@mixin normalize {
  box-sizing: content-box;
  margin: 0;
  padding: 0;

  @include display_flex();
  @include flex_flex-direction(row);
  @include flex_align-items(center);
}

@mixin height($height) {
  height: $height;
  line-height: $height;
}

.buildo-dropdown {
  .Select-control {
    min-height: 0;
    box-sizing: border-box;
    @include normalize();
    @include height($height);
  }
  .Multi-value,
  .Single-value,
  .Select-placeholder,
  .Select-input,
  .Select-control > input,
  .Select-placeholder,
  .Select-option,
  .Select-arrow-zone,
  .Clear-indicator {
    @include normalize();
    @include height($height - 2);
  }

  &.is-small {
    .Select-control {
      @include height($height-small);
    }
    .Multi-value,
    .Single-value,
    .Select-placeholder,
    .Select-input,
    .Select-control > input,
    .Select-placeholder,
    .Select-option,
    .Select-arrow-zone,
    .Clear-indicator {
      @include height($height-small - 2);
    }
  }
}

.buildo-dropdown {
  min-width: 150px;
  background: $background;
  color: $text-color;
  font-size: 15px;
  font-weight: $brc-semibold;
  height: 100%;

  &:hover {
    border-color: $border-color-hover;
  }

  &:not(.is-disabled) {
    .Select-control.is-focused {
      border-color: $border-color-focus;
    }
  }

  &.is-multi {
    height: auto;
    .Select-control {
      height: auto;
    }
  }

  .Select-control {
    border: solid 1px $border-color;
    border-radius: $border-radius;
    background: transparent;
    cursor: pointer;
    box-shadow: none !important;
    flex-grow: 1;

    .Select-multi-value-wrapper {
      @include flex_flex-wrap(wrap);
      @include flex_align-items(center);
    }

    .Select-input,
    .Select-placeholder {
      background: transparent;
    }

    .Select-arrow-zone,
    .Clear-indicator {
      @include flex_flex(0 0 auto);
      @include flex_justify-content(center);
    }

    .Select-arrow-zone {
      height: 100%;
      width: 30px;
    }

    .Clear-indicator {
      width: 15px;
    }

    .Select-arrow,
    .Clear-indicator {
      cursor: pointer;
      font-size: 20px;
    }

    .Single-value,
    .Multi-value {
      font-size: 0.9em;
    }

    .Select-arrow {
      border-color: $arrow-color transparent transparent;
      border-width: 5px 5px 0;
    }
  }

  .Select-placeholder {
    font-weight: $brc-semibold;
    color: $placeholder-color;
  }

  .Select-menu-outer {
    position: absolute;
    left: 0;
    z-index: 1000;
    margin-top: 10px;
    border: solid 1px $menu-border-color;
    border-radius: 4px;
    min-width: 185px;
    background-color: $menu-background;
    box-shadow: rgba(34, 36, 38, 0.12) 0 2px 4px 0;

    .Select-option-group {
      font-size: 15px;
      font-weight: $brc-semibold;
      color: $option-group-color;
      background: $option-group-background;
    }

    .Select-option {
      padding: 0 10px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      color: $option-color;
      background: $menu-background;

      &.is-selected {
        background: $option-background-selected;
        color: $option-color-selected;
      }

      &.is-disabled {
        color: $option-color-disabled;
        background: $option-background-disabled;
      }

      &:not(.is-disabled):hover,
      &.is-focused {
        background: $option-background-hover;
        color: $option-color-hover;
      }
    }
  }

  &.menu-position-top {
    .Select-menu-outer {
      top: auto;
      bottom: 100%;
      margin-bottom: 10px;
    }
  }

  .Multi-value {
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid $multiple-value-border-color;
    flex-direction: row-reverse;

    @include height($height - 14px);

    .Multi-value-label {
      @include height($height - 14px);

      background: $multiple-value-background-color;
      color: $multiple-value-color;
      padding: 0 5px;
    }

    .Multi-value-remove {
      padding: 0 4px;
      border-color: $multiple-value-icon-border-color;
      background: $multiple-value-icon-background-color;
      color: $multiple-value-icon-color;
      border-right: 1px solid;
      display: inline-block;
      vertical-align: middle;

      &:hover {
        border-color: $multiple-value-icon-border-color-hover;
        background: $multiple-value-icon-background-color-hover;
        color: $multiple-value-icon-color-hover;
      }
    }
  }

  &.is-small {
    .Select-input,
    .Select-placeholder {
      @include height($height-small - 12px);
    }

    .Multi-value {
      @include height($height-small - 14px);

      .Multi-value-label {
        @include height($height-small - 14px);
      }
    }
  }

  &:not(.is-disabled):hover {
    background: $background-hover;

    .Single-value {
      color: $text-color-hover;
    }

    .Select-placeholder {
      color: $placeholder-color-hover;
    }

    .Select-arrow {
      border-color: $arrow-color-hover transparent transparent;
    }
  }

  &:not(.is-disabled) {
    .Select-control.is-open {
      border-color: $border-color-open;
      background: $background-open;

      .Single-value {
        color: $text-color-open;
      }

      .Select-placeholder {
        color: $placeholder-color-open;
      }

      .Select-arrow {
        border-color: $arrow-color-open transparent transparent;
      }
    }
  }

  &.has-value .Select-control {
    .Single-value {
      color: $text-color-has-value;
    }

    .Select-placeholder {
      color: $text-color-has-value;
    }
  }

  .Clear-indicator {
    bottom: 0;
    padding: 0;
    color: $x-color;
    &:hover {
      color: $x-color-hover;
    }
  }

  &.is-searchable {
    .Select-control {
      cursor: text;
    }

    &.is-open {
      .Select-input {
        color: $text-color-writing;
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: $disabled-opacity;

    .Select-arrow-zone,
    .Select-arrow,
    .Select-control {
      cursor: inherit;
    }
  }

  &.is-flat {
    &:not(:hover),
    &.is-disabled {
      &:not(.is-open) {
        background: transparent;
      }
    }
  }
}
