@import '~sass-flex-mixins/src/sass-flex-mixins.scss';
@import '~react-select/dist/react-select.min.css';
@import '../utils/theme/variables.scss';
$background: $brc-gradientGrey !default;
$background-hover: $brc-gradientDarkGrey !default;
$background-open: $brc-gradientDarkGrey !default;
$border-color: $brc-silver !default;
$border-color-open: $brc-waterBlue !default;
$border-radius: 4px !default;
$text-color: $brc-coolGrey !default;
$text-color-open: $brc-coolGrey !default;
$text-color-has-value: $brc-darkGrey !default;
$text-color-hover: $text-color-has-value !default;
$text-color-writing: $brc-coolGrey !default;
$placeholder-color: #999 !default;
$placeholder-color-hover: #666 !default;
$placeholder-color-open: #666 !default;
$arrow-color: $text-color !default;
$arrow-color-hover: $text-color !default;
$arrow-color-open: $text-color-open !default;
$x-color: $text-color !default;
$x-color-hover: $brc-red !default;
$menu-background: $brc-white !default;
$menu-border-color: $brc-silver !default;
$option-group-color: $brc-darkGrey !default;
$option-group-background: $brc-paleGrey !default;
$option-color: rgba($brc-darkGrey, .5) !default;
$option-color-hover: $brc-darkGrey !default;
$option-color-selected: $option-color !default;
$option-color-disabled: rgba($option-color, .2) !default;
$option-background-hover: rgba($brc-azure, .15) !default;
$option-background-selected: $menu-background !default;
$option-background-disabled: $menu-background !default;
$multiple-value-color: $brc-azure !default;
$multiple-value-border-color: $multiple-value-color !default;
$multiple-value-background-color: $brc-duckBlue !default;
$multiple-value-icon-color: $multiple-value-color !default;
$multiple-value-icon-background-color: $multiple-value-background-color !default;
$multiple-value-icon-border-color: $multiple-value-icon-color !default;
$multiple-value-icon-color-hover: $brc-red !default;
$multiple-value-icon-background-color-hover: darken($multiple-value-icon-background-color, 10%) !default;
$multiple-value-icon-border-color-hover: $multiple-value-icon-border-color !default;
$disabled-opacity: .6 !default;
$height: 38px !default;
$height-small: 30px !default;

// NORMALIZE
@mixin normalize {
  box-sizing: content-box;
  margin: 0;
  padding: 0;

  @include display_flex();
  @include flex_flex-direction(row);
  @include flex_align-items(center);
}

@mixin height($height) {
  height: $height;
  line-height: $height;
}

.Select.dropdown {
  box-sizing: border-box;

  @include normalize();
  @include height($height);

  .Select-control,
  .Select-multi-value-wrapper,
  .Select-value,
  .Select-placeholder,
  .Select-input,
  .Select-input > input,
  .Select-option,
  .Select-arrow-zone,
  .Select-clear-zone {
    @include normalize();
    @include height($height - 2);
  }

  &.is-small {
    @include height($height-small);

    .Select-control,
    .Select-multi-value-wrapper,
    .Select-value,
    .Select-placeholder,
    .Select-input,
    .Select-input > input,
    .Select-option,
    .Select-arrow-zone,
    .Select-clear-zone {
      @include height($height-small - 2);
    }
  }
}

.Select.dropdown {
  border: solid 1px $border-color;
  border-radius: $border-radius;
  min-width: 150px;
  background: $background;
  color: $text-color;
  font-size: 15px;
  font-weight: 400;

  .Select-control {
    padding-left: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    box-shadow: none !important;

    .Select-multi-value-wrapper,
    .Select-value-label {
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .Select-multi-value-wrapper {
      @include flex_flex-wrap(wrap);
      @include flex_align-items(center);
    }

    .Select-input {
      position: absolute;
      top: 0;
      left: 0;
    }

    .Select-arrow-zone,
    .Select-clear-zone {
      @include flex_flex(0 0 auto);
      @include flex_justify-content(center);
    }

    .Select-arrow-zone {
      height: 100%;
      width: 30px;
    }

    .Select-clear-zone {
      width: 15px;
    }

    .Select-arrow,
    .Select-clear {
      cursor: pointer;
      font-size: 20px;
    }

    .Select-arrow {
      border-color: $arrow-color transparent transparent;
      border-width: 5px 5px 0;
    }
  }

  .Select-placeholder {
    color: $placeholder-color;
  }

  .Select-menu-outer {
    position: absolute;
    left: 0;
    z-index: 1000;
    margin-top: 10px;
    border: solid 1px $menu-border-color;
    border-radius: 4px;
    min-width: 185px;
    background-color: $menu-background;
    box-shadow: rgba(34, 36, 38, .12) 0 2px 4px 0;

    .Select-option-group {
      padding: 0 9px;
      font-size: 15px;
      font-weight: $brc-semibold;
      color: $option-group-color;
      background: $option-group-background;
    }

    .Select-option {
      padding: 0 10px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 400;
      color: $option-color;
      background: $menu-background;

      &.is-selected {
        background: $option-background-selected;
        color: $option-color-selected;
      }

      &.is-disabled {
        color: $option-color-disabled;
        background: $option-background-disabled;
      }

      &:not(.is-disabled):hover,
      &.is-focused {
        background: $option-background-hover;
        color: $option-color-hover;
      }
    }
  }

  &.menu-position-top {
    .Select-menu-outer {
      top: auto;
      bottom: 100%;
      margin-bottom: 10px;
    }
  }

  &.Select--multi {
    height: auto;

    .Select-control {
      height: auto;

      .Select-multi-value-wrapper {
        min-height: $height;
        height: auto;
      }
    }

    &.is-small {
      .Select-multi-value-wrapper {
        min-height: $height-small;
      }
    }

    &.has-value .Select-input {
      position: relative;
    }

    &.has-value .Select-control .Select-value {
      margin-right: 5px;

      /*
        vertical margin is needed to add some space between values when they wrap.
        5px is not random: 10px is the gap to match .combobox in height and avoid visual defects
      */
      margin-top: 5px;
      margin-bottom: 5px;
      border: 1px solid $multiple-value-border-color;

      @include height($height - 14px);

      .Select-value-label {
        @include height($height - 14px);

        background: $multiple-value-background-color;
        color: $multiple-value-color;
        padding-top: 0;
        padding-bottom: 0;
      }

      .Select-value-icon {
        padding: 0 4px;
        border-color: $multiple-value-icon-border-color;
        background: $multiple-value-icon-background-color;
        color: $multiple-value-icon-color;

        &:hover {
          border-color: $multiple-value-icon-border-color-hover;
          background: $multiple-value-icon-background-color-hover;
          color: $multiple-value-icon-color-hover;
        }
      }
    }

    &.is-small .Select-control .Select-value {
      @include height($height-small - 14px);
    }
  }

  &:not(.is-disabled):hover {
    background: $background-hover;

    &:not(.Select--multi) .Select-control .Select-value .Select-value-label {
      color: $text-color-hover;
    }

    .Select-placeholder {
      color: $placeholder-color-hover;
    }

    .Select-arrow {
      border-color: $arrow-color-hover transparent transparent;
    }
  }

  &:not(.is-disabled).is-open {
    border-color: $border-color-open;
    background: $background-open;

    &:not(.Select--multi) .Select-control .Select-value .Select-value-label {
      color: $text-color-open;
    }

    &:hover .Select-placeholder,
    .Select-placeholder {
      color: $placeholder-color-open;
    }

    .Select-arrow {
      border-color: $arrow-color-open transparent transparent;
    }
  }

  &.has-value .Select-control {
    .Select-value .Select-value-label {
      color: $text-color-has-value;
    }

    .Select-placeholder {
      color: $text-color-has-value;
    }
  }

  &.is-clearable.has-value {
    .Select-clear-zone {
      .Select-clear {
        bottom: 0;
        padding: 0;
        color: $x-color;
      }

      &:hover {
        .Select-clear {
          color: $x-color-hover;
        }
      }
    }
  }

  &.is-searchable {
    .Select-control {
      cursor: text;
    }

    &.is-open {
      .Select-input {
        color: $text-color-writing;
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;
    opacity: $disabled-opacity;

    .Select-arrow-zone,
    .Select-arrow,
    .Select-control {
      cursor: inherit;
    }
  }

  &.is-flat {
    &:not(:hover),
    &.is-disabled {
      &:not(.is-open) {
        background: transparent;
      }
    }
  }
}
