@import "~sass-flex-mixins/src/sass-flex-mixins.scss";
@import "../utils/theme/variables.scss";

.dropdown-list {
  .buildo-dropdown {
    margin-right: 20px;
    min-width: 200px;
  }
}

.buildo-dropdown {
  .Select-arrow-down,
  .Select-arrow-up {
    margin-top: 1px;
    border: 0;
    height: auto;
    width: auto;
    color: $brc-coolGrey;
    font-size: 8px !important;

    @include display_flex();
    @include flex_flex-direction(row);
    @include flex_align-items(center);

    &::before {
      font-family: "icomoon";
    }
  }

  .Select-arrow-up {
    &::before {
      content: "\e910";
    }
  }

  .Select-arrow-down {
    &::before {
      content: "\e90f";
    }
  }
}
