@import '~sass-flex-mixins/src/sass-flex-mixins.scss';
@import '../utils/theme/variables.scss';

.dropdown-list {
  .dropdown {
    margin-right: 20px;
    min-width: 200px;
  }
}

.dropdown {
  .dropdown__select-arrow-down,
  .dropdown__select-arrow-up {
    margin-top: 1px;
    border: 0;
    height: auto;
    width: auto;
    color: $brc-coolGrey;
    font-size: 8px !important;

    @include display_flex();
    @include flex_flex-direction(row);
    @include flex_align-items(center);

    &::before {
      font-family: 'icomoon';
    }
  }

  .dropdown__select-arrow-up {
    &::before {
      content: '\e90f';
    }
  }

  .dropdown__select-arrow-down {
    &::before {
      content: '\e910';
    }
  }
}
