@import '../../src/utils/theme/variables.scss';

$border-color: $brc-silver;
$border-width: 1px;
$header-background: $brc-paleGrey;
$header-color: $brc-coolGrey;
$footer-background: $brc-paleGrey;
$footer-color: $brc-coolGrey;
$odd-row-background: $brc-white;
$even-row-background: $brc-white;
$cell-border-color: $brc-silver;
$scrollbar-color: rgba($brc-coolGrey, .6);
$hover-scrollbar-background: rgba($brc-white, .8);
$hover-scrollbar-color: $brc-coolGrey;
$scrollbar-size: 6px;
$selected-cell-background: #eaf4fd;
$hover-cell-background: #f5fafe;

@import '../../src/table/table.scss';

.fixed-data-table-wrapper .public_Scrollbar_main.ScrollbarLayout_mainVertical {
  width: 14px;
  right: 1px;

  &:hover {
    width: 15.5px;
  }
}

.grid.table-wrapper .grid-cell,
.grid.table-wrapper .grid-header {
  background: transparent;
  -ms-flex-align: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0 5px;
}

.grid.table-wrapper .grid-header {
  color: #9098a7;

  > * {
    padding: 0;
  }

  border-top: 1px solid #ced0da;
  border-bottom: 1px solid #ced0da;
}

.grid.table-wrapper .grid-cell {
  background: #fff;
}

.grid.table-wrapper {
  position: static !important;
  width: auto !important;
  height: auto !important;
}

.table-wrapper .public_fixedDataTable_header {
  width: 1000px !important;
}

.fixedDataTableLayout_main.public_fixedDataTable_main {
  border-bottom: 1px solid transparent;
}

.fixedDataTableLayout_rowsContainer {
  border-bottom: 1px solid #ced0da;
}
