$background-dark: #2C3A40 !default;
$background-light: white !default;

$border-radius: 5px !default;
$border-color-dark: #F0F0F0 !default;
$border-color-light: #2C3A40 !default;

$text-color-dark: white !default;
$text-color-light: #2C3A40 !default;

$arrow-size: 5px !default;
$arrow-color: #2C3A40 !default;


.tooltip {
  max-width: 250px;
  border-radius: $border-radius;
  border: 1px solid;
  z-index: 10000;
  text-align: center;
  margin-left: -1px; // border-width

  &.is-dark {
    background: $background-dark;
    border-color: $border-color-dark;
    color: $text-color-dark;
  }

  &.is-light {
    background: $background-light;
    border-color: $border-color-light;
    color: $text-color-light;
  }

  &.is-small {
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 400;
  }

  &.is-big {
    padding: 17px 14px;
    font-size: 16px;
    font-weight: 400;
  }

  &:after, &:before {
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: $arrow-size;
  }

  &:before {
    border-width: $arrow-size + 1;
  }

  &.position-bottom {
    // take into account arrow-size for positioning
    margin-top: ($arrow-size + 1);

    &:after, &:before {
      bottom: 100%;
    }
    &.is-dark {
      &:after {
        border-bottom-color: $background-dark;
      }
      &:before {
        border-bottom-color: $border-color-dark;
      }
    }
    &.is-light {
      &:after {
        border-bottom-color: $background-light;
      }
      &:before {
        border-bottom-color: $border-color-light;
      }
    }
  }

  &.position-top {
    // take into account arrow-size for positioning
    margin-top: -($arrow-size + 1);

    &:after, &:before {
      top: 100%;
    }
    &.is-dark {
      &:after {
        border-top-color: $background-dark;
      }
      &:before {
        border-top-color: $border-color-dark;
      }
    }
    &.is-light {
      &:after {
        border-top-color: $background-light;
      }
      &:before {
        border-top-color: $border-color-light;
      }
    }
  }

  &.anchor-start:after, &.anchor-start:before {
    left: $border-radius;
  }

  &.anchor-center {
    &:after, &:before {
      left: 50%;
    }
    &:after {
      margin-left: -$arrow-size;
    }
    &:before {
      margin-left: -$arrow-size - 1;
    }
  }

  &.anchor-end:after, &.anchor-end:before {
    right: $border-radius;
  }

  &:before {
    margin-left: -1px;
  }
}
