$background: #2c3a40 !default;
$border-radius: 5px !default;

$text-color: white !default;

$arrow-size: 5px !default;
$arrow-color: #2c3a40 !default;


.tooltip {
  background-color: $background;
  padding: 4px 9px;
  border-radius: $border-radius;
  color: $text-color;
  box-shadow: 0px 0px 4px 0px rgba(255,255,255,0.4);
  max-width: 260px;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  z-index: 10000;

  &:after {
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: $arrow-size;
  }

  &.position-bottom:after {
    border-bottom-color: $arrow-color;
    bottom: 100%;
  }

  &.position-top:after {
    border-top-color: $arrow-color;
    top: 100%;
  }

  &.anchor-start:after {
    left: $border-radius;
  }

  &.anchor-center:after {
    left: 50%;
    margin-left: -$arrow-size;
  }

  &.anchor-end:after {
    right: $border-radius;
  }
}
