@import '../utils/theme/variables.scss';

@keyframes loading {
  0% {
    left: 0;
    right: 100%;
  }

  50% {
    left: 0;
    right: 0;
  }

  100% {
    left: 100%;
    right: 0;
  }
}

.panel {
  position: relative;

  &.expanded,&.collapse-top,&.collapse-bottom {
    width: 100%;
  }

  &.floating {
    border: 1px solid $border-color;
    margin: 10px;
  }

  &.collapsable > .panel-header {
    padding-left: 0;
  }

  .panel-soft-loader {
    position: absolute;
    width: 100%;
    top: 0;
    height: 1px;
    z-index: 999;

    .loader {
      width: 100%;
      height: 1px;
      background-color: $aquamarine30;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        display: block;
        height: 100%;
        background-color: $aquamarine;
        left: 0%;
        right: 100%;
        animation: loading 2s ease infinite;
      }
    }
  }

  > .panel-header {
    background-color: $charcoal;
    color: $white;
    padding-left: 20px;

    .expand-icon {
      font-size: 20px;
      margin-top: -4px;
    }

    .panel-header-title {
      font-weight: $semibold;
      font-size: 16px;
    }

    .panel-header-content {
      padding: 0 10px;
    }

    .panel-menu {
      padding: 7px 0;
    }
  }

  > .panel-content {
    background-color: $white;

    .panel-content-title {
      margin: 0;
      font-size: 17px;
      color: $charcoal;
      background: $white;
    }
  }

  &.collapsed.collapse-right, &.collapsed.collapse-left {
    .panel-content-title {
      position: absolute;
      white-space: nowrap;
      margin-top: 10px;
      margin-left: 27px;
      transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -webkit-transform-origin: 0 0;
      -moz-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      -o-transform-origin: 0 0;
      transform-origin: 0 0;
    }
  }

  &.docked-top > .panel-content {
    border-bottom: 1px solid $border-color;
  }

  &.docked-left > .panel-content {
    border-right: 1px solid $border-color;
  }

  &.docked-bottom >.panel-content {
    border-top: 1px solid $border-color;
  }

  &.docked-right > .panel-content {
    border-left: 1px solid $border-color;
  }

}
