class Example extends React.Component {

  constructor() {
    super();
    this.state = {};
  }

  onConfirm = (value) => this.setState({ value })

  onClear = () => this.setState({ value: '' })

  render() {
    const { state: { value }, onConfirm, onClear } = this;
    const text = { clear: 'clear', toConfirm: 'to confirm' };
    const icon = { clear: undefined, toConfirm: undefined };
    return (
      <form className='ui form'>
        <ConfirmationInput {...{ initialValue: value, onConfirm, onClear, text, icon }} />
      </form>
    );
  }
}
