class Example extends React.Component {

  constructor() {
    super();
    this.state = { isOpen: false };
  }

  onChange = (isOpen) => this.setState({ isOpen });

  getContent = () => (
    <FlexView>
      <Icon icon='user' />
      <FlexView marginLeft={10}>User</FlexView>
    </FlexView>
  );

  render = () => (
    <Accordion
      isOpen={this.state.isOpen}
      onChange={this.onChange}
      content={this.getContent()}
      icons={{ open: 'angle-up', closed: 'angle-down' }}
    >
      <div>ITEM 1</div>
      <div>ITEM 2</div>
      <div>ITEM 3</div>
    </Accordion>
  );

}
