.live-demo {

  .popover-content {
    &.baloon {
      width: 519px;
      word-wrap: break-word;
      border-radius: 4px;
      border: 1px solid #ced0da;
      z-index: 10000;
      text-align: center;
      margin-left: -1px;
      background: white;
      color: #354052;

      .option {
        width: 173px;
        border-right: 1px solid #ced0da;
        padding: 18px 0;

        &:last-child {
          border: 0;
        }

        .title {
          color: #1a91eb;
          font-size: 24px;
          font-weight: 600;
        }

        .value {
          color: #354052;
          font-size: 16px;
          line-height: 1.2;
          margin-bottom: 26px;
        }

        img {
          margin-bottom: 10px;
          width: 60px;
          height: 60px;
        }
      }

      &:after, &:before {
        border: solid transparent;
        content: ' ';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 8px;
      }

      &:before {
        border-width: 9px;
      }

      &.position-bottom {
        // take into account arrow-size for positioning
        margin-top: 9px;

        &:after, &:before {
          bottom: 100%;
        }
        &:after {
          border-bottom-color: white;
        }
        &:before {
          border-bottom-color: #ced0da;
        }
      }

      &.position-top {
        margin-top: -9px;

        &:after, &:before {
          top: 100%;
        }
        &:after {
          border-top-color: white;
        }
        &:before {
          border-top-color: #ced0da;
        }
      }

      &.anchor-start:after, &.anchor-start:before {
        left: 8px;
      }

      &.anchor-center {
        &:after, &:before {
          left: 50%;
        }
        &:after {
          margin-left: -8px;
        }
        &:before {
          margin-left: -9px;
        }
      }

      &.anchor-end:after, &.anchor-end:before {
        right: 9px;
      }

      &:before {
        margin-left: -1px;
      }
    }
  }
}