@import "../utils/theme/variables.scss";
$background: $brc-white !default;
$border-color: $brc-silver !default;
$title-color: $brc-darkGrey !default;
$item-title-color: rgba($brc-darkGrey, 0.5) !default;
$item-title-color-hover: $brc-darkGrey !default;
$item-background-hover: rgba($brc-azure, 0.15) !default;
$item-metadata-color: $brc-coolGrey !default;

.actions-menu {
  overflow: auto;
  z-index: 101;
  border: 1px solid $border-color;
  width: 250px;
  background-color: $background;

  .menu-row {
    position: relative;
    width: 100%;
    font-size: 14px;
  }

  .menu-title {
    color: $title-color;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .menu-action {
    position: relative;
    padding: 14px;
    cursor: pointer;

    .menu-action-title {
      color: $item-title-color;
    }

    .menu-action-metadata {
      color: $item-metadata-color;
    }

    &:hover:not(.disabled) {
      background: $item-background-hover;

      .menu-action-title {
        color: $item-title-color-hover;
      }
    }
  }
}
