@import '../utils/theme/variables.scss';

.user-menu {
  padding: 6px 10px;
  height: 50px;
  min-width: 210px;

  .icon {
    font-size: 7px;
  }

  .user-name {
    color: $brc-darkGreyBlue;
    font-size: 16px;
    font-weight: $brc-semibold;
  }

  .user-role {
    color: $brc-coolGrey;
    font-size: 14px;
    font-weight: $brc-semibold;
  }

  .user-avatar {
    margin-right: 10px;
  }

  ~ div .menu {
    top: 64px;
    right: 0;

    .menu-item-metadata {
      width: 0;
    }
  }
}
