@import '../utils/theme/variables.scss';
$text-color: $brc-coolGrey !default;
$text-color-hover: $brc-battleshipGrey !default;
$icon-color: $text-color !default;
$icon-color-hover: $text-color-hover !default;

.menu {
  position: relative;
  cursor: pointer;
  color: $text-color;

  &:hover {
    color: $text-color-hover;
  }

  .menu-icon-container {
    color: $icon-color;

    &:hover {
      color: $icon-color-hover;
    }

    &.isOpen {
      z-index: 101;
    }
  }

  .menu-icon {
    margin: 0 10px;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
}

.actions-menu-popover {
  z-index: 101;
}
