@import "../../utils/theme/variables.scss";
@import "../tabloVariables.scss";

// no fixed-data-table css classes in subcomponents

.tablo {
  .tablo-header {
    background: $header-background;
    border-bottom: $header-row-border-width solid $header-row-border-color;
    color: $header-color;
    padding: 0 5px;
  }

  .public_fixedDataTableCell_main {
    &:not(:last-child) {
      .tablo-header {
        border-right: $header-cell-border-width solid $header-cell-border-color;
      }
    }

    &:last-child {
      .tablo-header {
        border-right: $last-header-cell-border-width solid
          $last-header-cell-border-color;

        &.tablo-header-fixed {
          border-right-width: 0;
        }
      }
    }
  }
}
