@import '~gemini-scrollbar/gemini-scrollbar.css';
@import '~sass-flex-mixins/src/sass-flex-mixins.scss';
@import '../utils/theme/variables.scss';

$scrollbar-size: 7px !default;
$scrollbar-size-hover: $scrollbar-size * 1.25 !default;
$scrollbar-color: $brc-coolGrey !default;
$scrollbar-container-color: $brc-white !default;

// this is the way to make gemini consider a width of 0 for scrollbars in IE
body > div[style*='-ms-overflow-style: scrollbar'] {
  -ms-overflow-style: none !important;
}

body > div::-webkit-scrollbar {
  display: none;
}

.scrollview {
  overflow: hidden;

  > .gm-scrollbar {
    transition-timing-function: ease;
    transition-duration: 250ms;
    z-index: 999;

    &.-vertical {
      transition-property: background-color width;
      width: auto;
      padding: 0 4px;
      right: 0;

      .thumb {
        transition: width 250ms ease;
        position: static;
        width: 0;
      }

      .thumb[style*="height"] {
        width: $scrollbar-size;
        margin: 0;
      }

      &:hover, &:active {
        .thumb[style*="height"] {
          width: $scrollbar-size-hover;
        }
      }

      &:active .thumb[style*="height"] {
        transition: background-color 250ms ease;
        background-color: $scrollbar-color;
      }

    }

    &.-horizontal {
      transition-property: background-color height;
      height: auto;
      padding: 4px 0;
      bottom: 0;

      .thumb {
        transition: height 250ms ease;
        position: static;
        height: 0;
      }

      .thumb[style*="width"] {
        height: $scrollbar-size;
        margin: 0;
      }

      &:hover, &:active {
        background: rgba($scrollbar-container-color, .8);
        .thumb[style*="width"] {
          height: $scrollbar-size-hover;
        }
      }

      &:active .thumb[style*="width"] {
        transition: background-color 250ms ease;
        background-color: $scrollbar-color;
      }
    }

    .thumb {
      border-radius: $scrollbar-size / 2;
      background-color: rgba($scrollbar-color, .6);

      &:hover {
        transition: background-color 250ms ease;
        background-color: $scrollbar-color;
      }
    }
  }

  > .gm-scroll-view {
    -ms-overflow-style: none;

    > * {
      -ms-overflow-style: auto; // reset -ms-overflow-style as it is inherited by default
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      -webkit-appearance: none;
    }
  }
}
