$primary-text-font-size: 24px !default;
$secondary-text-font-size: 14px !default;

.empty-placeholder {
  .icon {
    margin-bottom: 10px;
  }

  .primary-text {
    font-size: $primary-text-font-size;
    font-weight: $bold;
    margin: 5px 0;
  }

  .secondary-text {
    font-size: $secondary-text-font-size;
    margin: 5px 0;
  }

  .action {
    margin-top: 10px;
  }
}
