$white: white;
$silver: #bdc2ca;
$charcoal: #2c3a40;
$pearl: #e6e6e6;
$aquamarine: #45a7b9;
$aquamarine30: rgba($aquamarine, .3);
$lynch: #628292;

// ALIAS COLORS
$border-color: $pearl;

// FONT WEIGHTS
$semibold: 600;
