@mixin display_flex() {
  display: flexbox; // 2011
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin display_flex_for_sure() {
  display: flexbox !important; // 2011
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}

@mixin flex_align-self($value) {
  -ms-flex-item-align: $value; // 2011 IE // TODO: needed?
  flex-item-align: $value; // stylelint-disable-line
  -webkit-box-align-self: $value;
  -moz-box-align-self: $value;
  -ms-align-self: $value;
  -webkit-align-self: $value;
  align-self: $value;
}

@mixin flex_align-content($value) {
  $align: $value;

  @if $value == 'flex-start's {
    $align: start;
  }

  @else if $value == 'flex-end' {
    $align: end;
  }

  @else if $value == 'space-between' {
    $align: justify;
  }

  @else if $value == 'space-around' {
    $align: distribute;
  }

  -ms-flex-line-pack: $align; // 2011 IE // TODO: needed?
  flex-line-pack: $align; // stylelint-disable-line
  -webkit-box-align-content: $value;
  -moz-box-align-content: $value;
  -ms-align-content: $value;
  -webkit-align-content: $value;
  align-content: $value;
}

@mixin flex_align-items($value) {
  $align: $value;

  @if $value == 'flex-start' {
    $align: start;
  }

  @else if $value == 'flex-end' {
    $align: end;
  }

  -ms-flex-align: $align; // 2011 IE
  flex-align: $align; // stylelint-disable-line
  -webkit-align-items: $value;
  -moz-box-align-items: $value;
  -ms-align-items: $value;
  align-items: $value;
}

@mixin flex_justify-content($value) {
  $align: $value;

  @if $value == 'flex-start' {
    $align: start;
  }

  @else if $value == 'flex-end' {
    $align: end;
  }

  @else if $value == 'space-between' {
    $align: justify;
  }

  @else if $value == 'space-around' {
    $align: distribute;
  }

  -ms-flex-pack: $align; // 2011 IE // TODO: needed?
  flex-pack: $align; // stylelint-disable-line
  -webkit-justify-content: $value;
  -moz-box-justify-content: $value;
  -ms-justify-content: $value;
  justify-content: $value;
}

/* @mixin flex_flex-grow($value) {
//   // not available in 2011
//   -webkit-box-flex-grow: $value;
//   -moz-box-flex-grow: $value;
//   -ms-flex-grow: $value;
//   -webkit-flex-grow: $value;
//   flex-grow: $value;
// }

// @mixin flex_flex-shrink($value) {
//   // not available in 2011
//   -webkit-box-flex-shrink: $value;
//   -moz-box-flex-shrink: $value;
//   -ms-flex-shrink: $value;
//   -webkit-flex-shrink: $value;
//   flex-shrink: $value;
// }

// @mixin flex_flex-basis($value) {
//   // not available in 2011
//   -webkit-box-flex-basis: $value;
//   -moz-box-flex-basis: $value;
//   -ms-flex-basis: $value;
//   -webkit-flex-basis: $value;
//   flex-basis: $value;
// }
*/

@mixin flex_flex($values) {

  // same in 2011
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -ms-flex: $values;
  -webkit-flex: $values;
  flex: $values;
}

@mixin flex_flex-direction($value) {

  // same in 2011
  -webkit-box-flex-direction: $value;
  -moz-box-flex-direction: $value;
  -ms-flex-direction: $value;
  -webkit-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex_flex-wrap($value) {

  // same in 2011
  -webkit-box-flex-wrap: $value;
  -moz-box-flex-wrap: $value;
  -ms-flex-wrap: $value;
  -webkit-flex-wrap: $value;
  flex-wrap: $value;
}

// Helpers

@mixin flexible() {
  @include display_flex();
  @include flex_flex-direction(column);
  @include flex_align-items(stretch);

  &.horizontal {
    @include flex_flex-direction(row);
  }
}

@mixin flexible-item() {
  @include flex_flex(0 0 auto);

  &.grow {
    @include flex_flex(1 1 100%);
  }
}
