@import './variables.scss';

html {
  background-color: $brc-white;
  color: $brc-battleshipGrey;
  -webkit-font-smoothing: antialiased;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: $brc-regular;
}

h1 {
  color: $brc-darkGreyBlue;
  font-size: 27px;
  font-weight: $brc-semibold;
  line-height: 1.5;
}

h2 {
  color: $brc-darkGreyBlue;
  font-size: 18px;
  font-weight: $brc-semibold;
  line-height: 1.5;
}

h3 {
  padding-bottom: 10px;
  border-bottom: 2px solid #dfe3e9;
  color: $brc-darkGreyBlue;
  font-size: 14px;
  font-weight: $brc-bold;
  line-height: 1.5;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-weight: $brc-regular;
  line-height: 1.43;
}

strong {
  font-weight: $brc-bold;
}

a {
  cursor: pointer;
  color: $brc-azure;
}

a:hover {
  color: $brc-azure30;
}
