$white: white;
$charcoal: #2c3a40;
$azure: #1a91eb;
$azure30: rgba($azure, .3);

// GREY SCALE
$darkGreyBlue: #354052;
$coolGrey: #9a9fa8;
$paleGrey: #f0f3f8;
$battleshipGrey: #727a86;

// FONT WEIGHTS
$regular: 400;
$semibold: 600;