class Example extends React.Component {
  render() {
    return (
      <div style={{minHeigth: 10,border: '1px solid #ccc'}}>
        <Meter currentValue={150} minValue={100} maxValue={200}/>
      </div>
    );
  }
}
