class Example extends React.Component {
  render() {
    const ranges = [
      {startValue: 0, endValue: 30, fillingColor: 'green', labelColor: '#000'},
      {startValue: 30, endValue: 60, fillingColor: 'yellow', labelColor: '#000'},
      {startValue: 60, endValue: 80, fillingColor: 'orange', labelColor: '#000'},
      {startValue: 80, endValue: 100, fillingColor: 'red', labelColor: '#000'}
    ];
    return (
    <div>
    <div style={{minHeigth: 10}}>
      <Meter
        value={40}
        baseFillingColor={'#ccc'}
        ranges={[{startValue: 30, endValue: 50, fillingColor: 'blue', labelColor: 'blue'}]}/>
    </div>
      <div style={{minHeigth: 10}}>
        <Meter
          value={30}
          ranges={ranges}/>
      </div>
      <div style={{minHeigth: 10}}>
        <Meter
          value={45}
          ranges={ranges}/>
      </div>
      <div style={{minHeigth: 10}}>
        <Meter
          value={70}
          ranges={ranges}/>
      </div>
      <div style={{minHeigth: 10}}>
        <Meter
          value={90}
          ranges={ranges}/>
      </div>
    </div>
    );
  }
}
