@import "../utils/theme/variables.scss";

.nav-bar {
  padding: 0 30px;
  border: 1px solid $brc-silver;
  box-shadow: 0 -1px 0 0 #e6eaee;

  .left {
    a.item {
      padding: 0 20px;
      color: $brc-coolGrey;

      &:hover {
        font-weight: $brc-semibold;
      }

      &.active {
        color: $brc-darkGrey;
        font-weight: $brc-semibold;
      }
    }
  }

  .right {
    .button {
      .icon {
        color: #86caff;
      }
    }
  }
}
