#iso-container {
  padding: 20px 0;
  background-color: #EAEAEA;
}

.dropdown-menu-component {
  margin-left: 300px;
}

.dropdown-menu {
  width: 200px;
  background-color: white;
  padding: 8px;
  box-shadow: 0 2px 1px 1px #EAEAEA;
}

.dropdown-menu-icon {
  cursor: pointer;
}

.menu-row {
  margin-top: 4px;
  margin-bottom: 4px;
}

.menu-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-title {
  color: #BDC2CA;
}

.menu-item-title {
  color: #6F7681;
}

.menu-item-metadata {
  color: #BDC2CA;
}

.toaster-anim {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.toaster-anim-enter {
  opacity: 0.2;
  right: -240px !important;
  -webkit-transition: opacity .8s ease-out, right .8s ease-out;
  transition: opacity .8s ease-out, right .8s ease-out;
}

.toaster-anim-enter.toaster-anim-enter-active {
  opacity: 1;
  right: 0 !important;
  /*-webkit-transition: transform 0.3s ease-in-out*/
  /*transition: transform 0.3s ease-in-out;*/
}

.toaster-anim-leave {
    opacity: 1;
    right: 0 !important;
    -webkit-transition: opacity .8s ease-out, right .8s ease-out;
    transition: opacity .8s ease-out, right .8s ease-out;
}

.toaster-anim-leave.toaster-anim-leave-active {
    opacity: 0.01;
    right: -240px !important;
}