@import '../utils/theme/variables.scss';

$background: transparent !default;

$header-background: $gradientGrey !default;
$header-background-open: $gradientGrey !default;
$header-background-selected: transparent !default;
$header-background-hover: $gradientDarkGrey !default;
$border-color: $silver;

.collapsable-section {
  cursor: pointer;
  background: $background;
  border: 1px solid $border-color;
  .content {
    padding: 0 19px;
    height: 100%;
    background: $header-background;
    &:hover {
      background: $header-background-hover;
    }
  }

  &.is-open {
    .content {
      background: $header-background-open;
      border-bottom: 1px solid $border-color;  
      &:hover {
        background: $header-background-hover;
      }
    }
  }

  &.is-selected, &.is-open.is-selected {
    background: $header-background-selected;
    &:hover {
      background: $header-background-hover;
    }
  }
}
