@import '../utils/theme/variables.scss';

.meter {
  .bar {
    height: 18px;
    border-radius: 10px;
    overflow: hidden;
    background-color: $brc-paleGrey;
  }

  .filling {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}