@import '../utils/theme/variables.scss';

$height: 18px !default;
$font-size: 14px !default;
$font-weight: $brc-regular !default;
$border-radius: 10px !default;
$label-margin: 5px !default;

.meter {
  .bar {
    overflow: hidden;
    border-radius: $border-radius;
    height: $height;
    background-color: $brc-paleGrey;

    .filling {
      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  .label {
    font-size: $font-size;
    font-weight: $font-weight;
    padding-left: $label-margin;
  }
}
