@import '../utils/theme/variables.scss';

$border-color: $brc-silver !default;

$header-background: $brc-paleGrey !default;
$header-color: $brc-coolGrey !default;

$odd-row-background: transparent !default;
$even-row-background: transparent !default;

$cell-border-color: $brc-silver !default;
$selected-cell-background: $brc-azure10 !default;
$hover-cell-background: $brc-azure10 !default;

$scrollbar-color: rgba($brc-coolGrey, .6) !default;
$hover-scrollbar-background: rgba($brc-white, .8) !default;
$hover-scrollbar-color: $brc-coolGrey !default;
$scrollbar-size: 6px !default;

@import '~fixed-data-table/dist/fixed-data-table-base.min.css';

.fixed-data-table-wrapper {

  // whole table
  .public_fixedDataTable_main, .public_fixedDataTable_hasBottomBorder {
    border-color: $border-color;
    border-width: 1px;
  }

  .public_fixedDataTableRow_fixedColumnsDivider {
    border-color: $border-color;
    border-width: 2px;
  }

  // header
  .public_fixedDataTable_header {
    border-color: $border-color;
    border-width: 1px;
    background: $header-background;
    .public_fixedDataTableCell_cellContent {
      color: $header-color;
      background: $header-background;
    }
  }

  // bg color for odd/even rows (applied to cells for reliability)
  .public_fixedDataTableRow_odd .public_fixedDataTableCell_main {
    background: $odd-row-background;
  }
  .public_fixedDataTableRow_even .public_fixedDataTableCell_main {
    background: $even-row-background;
  }

  // cell
  .public_fixedDataTableCell_main {
    border-color: $cell-border-color;
    &:last-child {
      border-width: 0;
    }
    .public_fixedDataTableCell_wrap3 {
      vertical-align: baseline; // needed to enable `height: 100%` on our cell components
    }
  }

  // selection/hover
  &.selectable {
    .public_fixedDataTableRow_main:not(.public_fixedDataTable_header) {
      cursor: pointer;
      .selected {
        background: $selected-cell-background;
      }
    }
    .public_fixedDataTableRow_odd, .public_fixedDataTableRow_even {
      &:hover .public_fixedDataTableCell_main {
        background: $hover-cell-background;
      }
    }
  }

  .public_fixedDataTable_horizontalScrollbar {
    height: $scrollbar-size + 8px !important;
    >div {
      height: $scrollbar-size + 8px !important;
    };
  }

  // scrollbar
  .public_Scrollbar_main {
    &.ScrollbarLayout_mainHorizontal {
      height: $scrollbar-size + 8px;
      &:hover {
        height: $scrollbar-size * 1.25 + 8px;
      }
    }
    &.ScrollbarLayout_mainVertical {
      width: $scrollbar-size + 8px;
      &:hover {
        width: $scrollbar-size * 1.25 + 8px;
      }
    }
    .public_Scrollbar_face:after {
      cursor: pointer;
      background-color: $scrollbar-color;
    }
    .public_Scrollbar_face:hover:after {
      background-color: $hover-scrollbar-color;
    }
    &.public_Scrollbar_mainActive, &:hover {
      background-color: $hover-scrollbar-background;
    }
    &.public_Scrollbar_mainActive {
      .public_Scrollbar_face:after {
        background-color: $hover-scrollbar-color;
      }
    }
  }
}
