$border-color: gray !default;

$header-background: gray !default;
$header-color: #242424 !default;

$odd-row-background: transparent !default;
$even-row-background: transparent !default;

$cell-border-color: gray !default;
$selected-cell-background: lightblue !default;
$hover-cell-background: lightblue !default;

$scrollbar-color: rgba(gray, .6) !default;
$hover-scrollbar-background: rgba(white, .8) !default;
$hover-scrollbar-color: white !default;

.fixed-data-table-wrapper {

  // whole table
  .public_fixedDataTable_main, .public_fixedDataTable_hasBottomBorder {
    border-width: 0;
  }

  .public_fixedDataTableRow_fixedColumnsDivider {
    border-color: $border-color;
    border-width: 2px;
  }

  // header
  .public_fixedDataTable_header {
    border-width: 0;
    background: $header-background;
    .public_fixedDataTableCell_cellContent {
      color: $header-color;
      background: $header-background;
    }
  }

  // bg color for rows
  .public_fixedDataTableRow_odd {
    background: $odd-row-background;
  }
  .public_fixedDataTableRow_even {
    background: $even-row-background;
  }

  // cell
  .public_fixedDataTableCell_main {
    border-color: $cell-border-color;
    &:last-child {
      border-width: 0;
    }
    .public_fixedDataTableCell_wrap3 {
      vertical-align: baseline; // needed to enable `height: 100%` on our cell components
    }
  }

  // selection/hover
  &.selectable {
    .public_fixedDataTableCell_cellContent {
      cursor: pointer;
      .selected {
        background: $selected-cell-background;
      }
    }
    .public_fixedDataTable_bodyRow, .public_fixedDataTable_bodyRow.public_fixedDataTableRow_odd {
      &:hover {
        background: $hover-cell-background;
      }
    }
  }

  // scrollbar
  .public_Scrollbar_main.public_Scrollbar_mainActive, .public_Scrollbar_main:hover {
    background-color: $hover-scrollbar-background;
    .public_Scrollbar_face:hover:after {
      background-color: $hover-scrollbar-color;
    }
  }
  .public_Scrollbar_face:after {
    background-color: $scrollbar-color;
  }

}
