const Example = React.createClass({

  propTypes: {},

  getInitialState() {
    return {
      isShow: true
    };
  },

  show() {
    this.setState({ isShow: true });
  },

  hide() {
    this.setState({ isShow: false });
  },

  getBackgroundDimmer() {
    return (
      <BackgroundDimmer color='black' alpha={0.5} stopScrollPropagation onClickOutside={this.hide}>
        <div style={{ backgroundColor: 'yellow', height: 120, width: 200 }}>
          CONTENT
        </div>
      </BackgroundDimmer>
    );
  },

  getTemplate() {
    const {
      state: { isShow },
      getBackgroundDimmer, show
    } = this;
    return (
      <div style={{ height: 50, width: '100%' }}>
        {isShow ?
          getBackgroundDimmer() :
          <button onClick={show}>SHOW</button>
        }
      </div>
    );
  },

  render() {
    return this.getTemplate();
  }

});
