$padding-h: 12px !default;
$font-size: 14px !default;
$font-weight: 500 !default;
$color: lightblue !default;
$hover-color: blue !default;
$disabled-opacity: .6 !default;

.confirmation-input {

  input {
    padding-left: $padding-h;
    &:disabled {
      cursor: not-allowed;
      opacity: $disabled-opacity;
    }
  }

  .confirmation {
    margin: 0 $padding-h;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
  }

  &.focused .confirmation {
    color: $hover-color;
    cursor: pointer;
  }

}
