@import '../utils/theme/variables.scss';

$padding-h: 12px !default;
$font-size: 14px !default;
$font-weight: $semibold !default;
$color: $azure !default;
$hover-color: $azure !default;
$disabled-opacity: .6 !default;

.confirmation-input {

  font-family: "Source Sans Pro", sans-serif;
  border-radius: 4px;
  border: 1px solid $silver;

  input {
    color: $darkGreyBlue;
    padding-left: $padding-h;
    border: 0;
    font-weight: $semibold;

    /*placeholder*/
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder  {
      color: $coolGrey;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: $disabled-opacity;
    }
    &:focus {
      outline: none;
      box-shadow: 0;
    }
  }

  .confirmation {
    margin: 0 $padding-h;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
  }

  &.focused {

    border: 1px solid $waterBlue;
    outline: none;

    .confirmation {
      color: $hover-color;
      cursor: pointer;
    }
  }
}
