const Example = React.createClass({

  propTypes: {},

  getTemplate() {
    return (
      <div>
        <FlexView
          className='hello'
          style={{backgroundColor: 'white', height: 120}}>
            <FlexView
              style={{backgroundColor: 'red', height: 30, width: 30}}
              marginTop='auto'
              marginBottom='auto'
              basis={200}
              />
            <FlexView
              style={{backgroundColor: 'green', height: 30, width: 30}}
              marginLeft='auto'
              flexBasis={200}
              />
        </FlexView>
      </div>
    );
  },

  render() {
    return this.getTemplate();
  }

});
