@import '../utils/theme/variables.scss';
$color: $brc-silver !default;

.divider {
  background-color: $color;
  color: $color;

  &.small {
    margin: 5px;
  }

  &.medium {
    margin: 10px;
  }

  &.large {
    margin: 20px;
  }

  &.no-margin {
    margin: 0;
  }

  &.horizontal {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    border-left: 1px solid;
    min-height: 100%;
  }

  &.vertical {
    display: block;
    margin-right: 0;
    margin-left: 0;
    height: 1px;
    min-width: 100%;
  }
}
