$horizontal-padding: 16px !default;
$font-size: 14px !default;
$height: 36px !default;
$font-weight: semibold !default;
$background: lightgray !default;
$color: black !default;
$border-color: black !default;
$border-width: 1px !default;
$border-radius: 3px !default;
$font-family: sans-serif !default;

$large-horizontal-padding: 18px !default;

$default-background: lightgray !default;
$default-border-color: grey !default;
$default-border-width: 1px !default;
$default-color: black !default;
$default-background-hover: red !default;

$primary-background: grey !default;
$primary-border-color: blue !default;
$primary-border-width: 1px !default;
$primary-color: blue !default;
$primary-background-hover: lightgray !default;

$positive-background: lightgray !default;
$positive-border-color: green !default;
$positive-border-width: 1px !default;
$positive-color: green !default;
$positive-background-hover: lightgreen !default;

$negative-background: lightgray !default;
$negative-border-color: red !default;
$negative-border-width: 1px !default;
$negative-color: red !default;
$negative-background-hover: orange !default;

$flat-background: none !default;
$flat-border-color: transparent !default;
$flat-border-width: 1px !default;
$flat-color: blue !default;
$flat-border-width-hover: 1px !default;
$flat-horizontal-padding: 6px !default;
$flat-background-hover: none !default;
$flat-border-color-hover: blue !default;

$icon-button-horizontal-padding: 13px !default;
$icon-button-circular-padding: 11px !default;

$medium-height: 38px !default;
$medium-horizontal-padding: 18px !default;
$medium-font-size: 15px !default;

$small-height: 30px !default;
$small-horizontal-padding: 14px !default;
$small-font-size: 15px !default;

$tiny-height: 18px !default;
$tiny-font-size: 12px !default;
$tiny-horizontal-padding: 6px !default;

.button .button-inner {
  // commons
  position: relative;
  cursor: pointer;
  text-align: center;
  font-weight: $font-weight;
  font-family: $font-family;

  // default sizes
  padding: 0 $horizontal-padding;
  font-size: $font-size;
  height: $height;

  // default colors and other style
  background: $background;
  border: $border-width solid $border-color;
  color: $color;
  border-radius: $border-radius;

  // sub-components/sub-elements
  .icon, .loading, .label {
    margin: 0 3px;
  }
  .loading {
    height: 1em;
  }

  //types
  &.is-default {
    background: $default-background;
    border: $default-border-width solid $default-border-color;
    color: $default-color;
    &:hover:not(.is-not-allowed) {
      background: $default-background-hover;
    }
  }
  &.is-primary {
    background: $primary-background;
    border: $primary-border-width solid $primary-border-color;
    color: $primary-color;
    &:hover:not(.is-not-allowed) {
      background: $primary-background-hover;
    }
  }
  &.is-positive, &.is-success {
    background: $positive-background;
    border: $positive-border-width solid $positive-border-color;
    color: $positive-color;
    &:hover:not(.is-not-allowed) {
      background: $positive-background-hover;
    }
  }
  &.is-negative, &.is-error {
    background: $negative-background;
    border: $negative-border-width solid $negative-border-color;
    color: $negative-color;
    &:hover:not(.is-not-allowed) {
      background: $negative-background-hover;
    }
  }
  &.is-flat {
    background: $flat-background;
    border: $flat-border-width solid $flat-border-color;
    color: $flat-color;
    padding: 0 $flat-horizontal-padding !important; //!important because it should not be ovverridden by small/tiny variations
    &:hover:not(.is-not-allowed) {
      background: $flat-background-hover;
      border: $flat-border-width-hover solid $flat-border-color-hover;
    }
  }

  // variations
  &.icon-button {
    padding: 0 $icon-button-horizontal-padding !important;//!important because it should not be ovverridden by small/tiny variations
    &.circular {
      border-radius: 100% !important;//!important because it should not be ovverridden by small/tiny variations
      padding: $icon-button-circular-padding !important;//!important because it should not be ovverridden by small/tiny variations
      &.is-medium {
        width: $medium-height;
      }
      &.is-small {
        width: $small-height;
      }
      &.is-tiny {
        width: $tiny-height;
      }
    }
  }

  // sizes
  &.is-tiny {
    padding: 0 $tiny-horizontal-padding;
    font-size: $tiny-font-size;
    height: $tiny-height;
  }
  &.is-small {
    padding: 0 $small-horizontal-padding;
    font-size: $small-font-size;
    height: $small-height;
  }
  &.is-medium {
    padding: 0 $medium-horizontal-padding;
    font-size: $medium-font-size;
    height: $medium-height;
  }

  &.is-not-allowed {
    opacity: .6;
    cursor: not-allowed;
  }

}
