$expand-button-background: #EAEAEA !default;
$expand-button-hover-background: #F1F2F3 !default;
$expand-button-icon-color: #999 !default;
$expand-button-icon-hover-color: #999 !default;

.more-or-less {
  .expand-button {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: $expand-button-background;

    &:hover {
      background-color: $expand-button-hover-background;
      .expand-button-icon {
        color: $expand-button-icon-hover-color;
      }
    }

    .expand-button-icon {
      font-size: 17px;
      color: $expand-button-icon-color;
    }
  }
}
