class Example extends React.Component {

  render() {
    return (
      <Dropdown placeholder="Select a pizza" searchable={false}>
        <div>Margherita</div>
        <div>Capricciosa</div>
        <div>Quattro formaggi</div>
      </Dropdown>
    );
  }

}
