@import '../utils/theme/variables.scss';

$border-color: $brc-silver !default;
$border-width: 1px !default;

$header-background: $brc-paleGrey !default;
$header-color: $brc-coolGrey !default;

$footer-background: $brc-paleGrey !default;
$footer-color: $brc-coolGrey !default;

$odd-row-background: $brc-white !default;
$even-row-background: $brc-white !default;

$scrollbar-color: rgba($brc-coolGrey, .6) !default;
$scrollbar-color-hover: $brc-coolGrey !default;
$scrollbar-background-hover: rgba($brc-white, .8) !default;
$scrollbar-size: 6px !default;

$cell-border-color: $brc-silver !default;

$cell-background-selected: #eaf4fd !default;
$cell-background-hover: #f5fafe !default;
$cell-background-hover-selected: $cell-background-hover !default;

$sortable-grid-arrows-opacity: .4 !default;
$sortable-grid-arrows-opacity-hover: 1 !default;
$sortable-grid-sorted-arrows-opacity: 1 !default;
$sortable-grid-sorted-arrows-opacity-hover: .4 !default;

$columns-reorder-header-opacity-is-dragging: .6 !default;
