@import '../utils/theme/variables.scss';
$padding-h: 12px !default;
$font-size: 14px !default;
$font-weight: $brc-semibold !default;
$color: $brc-azure !default;
$color-hover: $brc-azure !default;
$disabled-opacity: .6 !default;

.confirmation-input {
  border: 1px solid $brc-silver;
  border-radius: 4px;

  input {
    padding-left: $padding-h;
    border: 0;
    color: $brc-darkGrey;
    font-weight: $brc-semibold;

    /* placeholder */
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder {
      color: $brc-coolGrey;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: $disabled-opacity;
    }

    &:focus {
      outline: none;
      box-shadow: 0;
    }
  }

  .confirmation {
    margin: 0 $padding-h;
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
  }

  &.focused {
    border: 1px solid $brc-waterBlue;
    outline: none;

    .confirmation {
      cursor: pointer;
      color: $color-hover;
    }
  }
}
