@import '../utils/theme/variables.scss';

$height: 28px !default;
$padding-h: 12px !default;
$font-size: 14px !default;

@import '../Input/input.scss';

$confirmation-font-weight: $brc-semibold !default;
$confirmation-color: $brc-azure !default;
$confirmation-color-focus: $brc-azure !default;

.input.confirmation-input {
  .confirmation {
    height: $height;
    margin: 0 $padding-h;
    color: $confirmation-color;
    font-size: $font-size;
    line-height: $font-size;
    font-weight: $confirmation-font-weight;
  }

  &.focused {
    .confirmation {
      cursor: pointer;
      color: $confirmation-color-focus;
    }
  }
}
