@import '../utils/theme/variables.scss';

$text-color: $brc-coolGrey !default;
$text-color-hover: $brc-battleshipGrey !default;

$icon-color: $text-color !default;
$icon-color-hover: $text-color-hover !default;

.dropdown-menu {
  position: relative;
  cursor: pointer;

  color: $text-color;

  &:hover {
    color: $text-color-hover;
  }

  .dropdown-menu-icon-container { 

    color: $icon-color;

    &:hover {
      color: $icon-color-hover;
    }

    &.isOpen {
     z-index: 101;
    }
  }

  .dropdown-menu-icon {
    margin: 0 10px;
  }

  .dropdown-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
  }

}
