@import '../utils/theme/variables.scss';

.dropdown-menu {
  position: relative;

  .dropdown-menu-icon-container {
    cursor: pointer;
    &.isOpen {
     z-index: 101;
    }
  }

  .dropdown-menu-icon {
    margin: 10px;
  }

  .dropdown-menu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
  }

  .menu {
    width: 250px;
    position: absolute;
    z-index: 101;
    top: 40px;
    right: 0;
    background-color: $white;
    padding: 8px;
    box-shadow: 0 0 10px 0px rgba($lynch, .7);
    overflow: scroll;

    .menu-row {
      width: 100%;
      position: relative;
      margin-top: 4px;
      margin-bottom: 4px;
      font-size: 14px;
    }

    .menu-title {
      color: $silver;
      text-transform: uppercase;
      font-weight: $semibold;
      font-size: 13px;
    }

    .menu-item {
      position: relative;
      cursor: pointer;

      .menu-item-title {
        color: $charcoal;
      }

      .menu-item-metadata {
        color: $silver;
        position: absolute;
        right: 0;
      }

      &:hover:not(.disabled) .menu-item-title {
        color: $lynch;
      }
    }
  }
}
