@import '../utils/theme/variables.scss';

$background: white !default;
$border-color: $silver !default;
$title-color: $darkGreyBlue !default;
$item-title-color: rgba($darkGreyBlue, .5) !default;
$item-title-color-hover: $darkGreyBlue !default;
$item-background-hover: rgba($azure, .15) !default;
$item-metadata-color: #bdc2ca !default;

.menu {
  width: 250px;
  position: absolute;
  z-index: 101;
  top: 40px;
  right: 0;
  background-color: $background;
  border: 1px solid $border-color;
  overflow: auto;

  .menu-row {
    width: 100%;
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
  }

  .menu-title {
    color: $title-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }

  .menu-item {
    position: relative;
    cursor: pointer;
    padding: 10px 14px;

    .menu-item-title {
      color: $item-title-color;
    }

    .menu-item-metadata {
      color: $item-metadata-color;
    }

    &:hover:not(.disabled) {
      background: $item-background-hover;
      
      .menu-item-title {
        color: $item-title-color-hover;
      }
    }
  }
}
