$background: white !default;
$box-shadow-color: #628292 !default;             // $lynch
$title-color: #bdc2ca !default;             // $silver
$item-title-color: #2c3a40 !default;        // $charcoal
$item-title-color-hover: #628292 !default;  // $lynch
$item-metadata-color: #bdc2ca !default;     // $silver

.menu {
  width: 250px;
  position: absolute;
  z-index: 101;
  top: 40px;
  right: 0;
  background-color: $background;
  padding: 8px;
  box-shadow: 0 0 10px 0px rgba($box-shadow-color, .7);
  overflow: auto;

  .menu-row {
    width: 100%;
    position: relative;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
  }

  .menu-title {
    color: $title-color;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }

  .menu-item {
    position: relative;
    cursor: pointer;

    .menu-item-title {
      color: $item-title-color;
    }

    .menu-item-metadata {
      color: $item-metadata-color;
    }

    &:hover:not(.disabled) .menu-item-title {
      color: $item-title-color-hover;
    }
  }
}
