@import "../utils/theme/variables.scss";
$background: $brc-gradientAzure !default;
$border-radius: 32px !default;
$padding: 3px 16px !default;
$color: $brc-white !default;
$font-size: 14px !default;
$font-weight: $brc-semibold !default;
$active-color: $brc-white !default;
$active-background: $brc-gradientAzure !default;

.badge {
  padding: $padding;
  border-radius: $border-radius;
  background: $background;
  color: $color;

  &.active {
    background: $active-background;
    color: $active-color;
  }

  .badge-label {
    font-size: $font-size;
    font-weight: $font-weight;
  }
}
