@import '../utils/theme/variables.scss';

$background: $gradientAzure !default;
$border-radius: 32px !default;
$padding: 3px 16px !default;
$color: $white !default;
$font-size: 14px !default;
$font-weight: $semibold !default;

$active-color: $white !default;
$active-background: $gradientAzure !default;

.badge {
  display: inline-block;
  border-radius: $border-radius;
  padding: $padding;
  color: $color;
  background: $background;

  &.active {
    color: $active-color;
    background: $active-background;
  }
  .badge-label {
    font-size: $font-size;
    font-weight: $font-weight;
  }
}
